In [4]:
import numpy as np
import pandas as pd
import zipfile

In [5]:
def str_to_arr(s: str) -> str:
    s = s[1:-1]
    return np.fromstring(s, sep=' ')

In [13]:
df = pd.read_csv('../data/preprocessed_data/d13 - fer2013.zip')
# df = df.drop(columns=['Unamed: 0'])
df

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,target
0,19.0,218.0,218.0,217.0,216.0,210.0,203.0,198.0,193.0,188.0,...,169.0,170.0,171.0,172.0,172.0,170.0,174.0,178.0,17.0,4.0
1,4.0,84.0,82.0,52.0,39.0,41.0,46.0,36.0,30.0,49.0,...,32.0,25.0,49.0,63.0,141.0,150.0,236.0,235.0,23.0,3.0
2,6.0,106.0,106.0,106.0,106.0,106.0,106.0,105.0,106.0,105.0,...,3.0,9.0,14.0,13.0,15.0,17.0,20.0,16.0,2.0,3.0
3,1.0,24.0,35.0,33.0,44.0,76.0,108.0,116.0,119.0,119.0,...,83.0,83.0,82.0,86.0,101.0,117.0,124.0,112.0,8.0,3.0
4,2.0,31.0,21.0,40.0,50.0,64.0,98.0,70.0,58.0,71.0,...,159.0,155.0,154.0,159.0,164.0,166.0,170.0,169.0,16.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,75.0,173.0,165.0,159.0,162.0,186.0,193.0,198.0,203.0,206.0,...,216.0,209.0,201.0,191.0,165.0,116.0,95.0,153.0,7.0,2.0
246,4.0,37.0,29.0,23.0,32.0,35.0,27.0,29.0,28.0,22.0,...,208.0,230.0,233.0,225.0,221.0,237.0,235.0,229.0,24.0,4.0
247,9.0,169.0,188.0,198.0,203.0,205.0,205.0,208.0,212.0,213.0,...,174.0,165.0,156.0,148.0,142.0,126.0,111.0,118.0,12.0,1.0
248,55.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,165.0,122.0,79.0,44.0,107.0,174.0,212.0,214.0,21.0,2.0
249,2.0,90.0,96.0,104.0,114.0,124.0,131.0,137.0,143.0,150.0,...,169.0,172.0,176.0,182.0,189.0,198.0,209.0,215.0,21.0,1.0

In [30]:
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [31]:
df = df.drop(columns=['Usage'])

In [40]:
df = df[(df['emotion'] == 0) | (df['emotion'] == 1)| (df['emotion'] == 2)| (df['emotion'] == 3)| (df['emotion'] == 4)]
df = df.sample(n=250, replace=False)

In [50]:
df.head()

       emotion                                             pixels
29226        4  219 218 218 217 216 210 203 198 193 188 187 18...
5429         3  84 84 82 52 39 41 46 36 30 49 97 130 145 157 1...
22978        3  106 106 106 106 106 106 106 105 106 105 105 10...
2030         3  51 24 35 33 44 76 108 116 119 119 118 120 122 ...
10784        3  32 31 21 40 50 64 98 70 58 71 84 122 200 201 1...

In [53]:
res = []
for i in range(250):
    res.append(str_to_arr(df['pixels'].iloc[i]))

In [54]:
data = pd.DataFrame(data=res)

In [58]:
df['emotion']

29226    4
5429     3
22978    3
2030     3
10784    3
        ..
24812    2
25569    4
4088     1
4977     2
34126    1
Name: emotion, Length: 250, dtype: int64

In [64]:
for i in range(250):
    data['target'].loc[i] = int(df['emotion'].iloc[i])

In [26]:
#df.sample(n=250, replace=False).to_csv('../data/raw_data/mnist.csv')

In [67]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,target
0,19.0,218.0,218.0,217.0,216.0,210.0,203.0,198.0,193.0,188.0,...,169.0,170.0,171.0,172.0,172.0,170.0,174.0,178.0,17.0,4.0
1,4.0,84.0,82.0,52.0,39.0,41.0,46.0,36.0,30.0,49.0,...,32.0,25.0,49.0,63.0,141.0,150.0,236.0,235.0,23.0,3.0
2,6.0,106.0,106.0,106.0,106.0,106.0,106.0,105.0,106.0,105.0,...,3.0,9.0,14.0,13.0,15.0,17.0,20.0,16.0,2.0,3.0
3,1.0,24.0,35.0,33.0,44.0,76.0,108.0,116.0,119.0,119.0,...,83.0,83.0,82.0,86.0,101.0,117.0,124.0,112.0,8.0,3.0
4,2.0,31.0,21.0,40.0,50.0,64.0,98.0,70.0,58.0,71.0,...,159.0,155.0,154.0,159.0,164.0,166.0,170.0,169.0,16.0,3.0

In [70]:
data.to_csv('../data/raw_data/fer2013.csv', index=False)

In [9]:
to = pd.read_csv('/home/dzmitry/Study/Maga/ml/ML_Dimensional_reduction/data/preprocessed_data/d13 - fer2013_I.zip')
to.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,target
0,19.0,218.0,218.0,217.0,216.0,210.0,203.0,198.0,193.0,188.0,...,169.0,170.0,171.0,172.0,172.0,170.0,174.0,178.0,17.0,4.0
1,4.0,84.0,82.0,52.0,39.0,41.0,46.0,36.0,30.0,49.0,...,32.0,25.0,49.0,63.0,141.0,150.0,236.0,235.0,23.0,3.0
2,6.0,106.0,106.0,106.0,106.0,106.0,106.0,105.0,106.0,105.0,...,3.0,9.0,14.0,13.0,15.0,17.0,20.0,16.0,2.0,3.0
3,1.0,24.0,35.0,33.0,44.0,76.0,108.0,116.0,119.0,119.0,...,83.0,83.0,82.0,86.0,101.0,117.0,124.0,112.0,8.0,3.0
4,2.0,31.0,21.0,40.0,50.0,64.0,98.0,70.0,58.0,71.0,...,159.0,155.0,154.0,159.0,164.0,166.0,170.0,169.0,16.0,3.0

In [17]:
to = to.fillna(0)

In [18]:
to.isnull().values.sum()

0

In [19]:
to.to_csv('../data/raw_data/fer2013.csv', index=False)